:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
  --font-family-1: "Young Serif", serif;
  --font-family-2: "Outfit", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1956px;
  gap: 8px;
  padding: 40px;
  background-color: var(--stone-100);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 736px;
  height: 1700px;
  gap: 40px;
  padding: 40px;
  border-radius: 24px;
  background-color: var(--white);
}
img {
  width: 656px;
  height: 300px;
  border-radius: 12px;
}
.text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 656px;
  height: 1280px;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  width: 656px;
  height: 100px;
}
.title h1 {
  font-size: 40px;
  line-height: 100%;
  color: var(--stone-900);
  font-family: var(--font-family-1);
  font-weight: normal;
}
.title p {
  color: var(--stone-600);
  font-family: var(--font-family-2);
}
.preparation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  width: 656px;
  height: 172px;
  padding: 24px;
  border-radius: 12px;
  flex-wrap: nowrap;
  background-color: var(--rose-50);
  font-family: var(--font-family-2);
}
.preparation h2 {
  color: var(--rose-800);
  font-size: 20px;
  line-height: 100%;
}
.time__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--stone-600);
  align-items: flex-start;
}
.preparation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.time__list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap:16px;
  align-items: center;
  font-size: 16px;
  width: 100%;
  height: 24px;
}

.time__list strong {
  font-weight: bold;
  display: list-item;
  padding-left: 8px;
}
.time__list strong::marker {
  color: var(--rose-800);
  padding-right: 8px;
  
}

.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 24px;
  width: 656px;
  height: 204px;
}
.ingredients h2 {
  color: var(--brown-800);
  font-family: var(--font-family-1);
  font-size: 28px;
  line-height: 100%;
  font-weight: normal;
  align-content: start;
}
.ingredients__list {
  display: flex;
      flex-direction: column;
      width: 656px;
      height: 152px;
      gap: 8px;
      white-space: nowrap;
      padding-left: 18px;
      justify-content: center;
      align-items: flex-start;
}

.ingredients__list li {
  width: 656px;
  height: fit-content;
  font-size: 16px;
  display: list-item;
  font-family: var(--font-family-2);
  color: var(--stone-600);
  padding-left: 8px;
}
.ingredients__list li::marker {
  color: var(--brown-800);
  padding-right: 8px;
}
hr {
  width: 656px;
  height: 0px;
  border:solid 1px var(--stone-150);
  background-color: var(--stone-150);
}
.instructions {
  width: 656px;
  height: 332px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.instructions h2 {
  color: var(--brown-800);
  font-family: var(--font-family-1);
  font-size: 28px;
  line-height: 100%;
  font-weight: normal;
}
#instructions-list {
  display: flex
  ;
      flex-direction: column;
      justify-content: flex-start;
      width: 656px;
      height: 252px;
      gap: 16px;

      align-items: flex-start;
}
.instructions__list li {
  width: 656px;
  height: fit-content;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-family-2);
  color: var(--stone-600);
  padding-left: 8px;
  margin-left: 8px;
}
.instructions__list strong {
  display: list-item;
  list-style: decimal;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 8px;

}
.instructions__list strong::marker {
  color: var(--brown-800);
  padding-right: 8px;
}
.nutrition {
  width: 656px;
  height: 268px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.nutrition h2 {
  color: var(--brown-800);
  font-family: var(--font-family-1);
  font-size: 28px;
  line-height: 100%;
  font-weight: normal;
}
.nutrition p {
  color: var(--stone-600);
  font-family: var(--font-family-2);
}
.nutrition table {
  width: 656px;
  height: 168px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--font-family-2);
}
.nutrition tr {
  display: flex;
  width: 656px;
  height: 24px;
  gap: 16px;
  flex-direction: row;
}
.nutrition hr {
  display: flex;
  position: relative;
}
tbody {
  position: relative;
  width: 656px;
  height: 168px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#line-1 {
  transform: translate(0px, 36px);
  background-color: var(--stone-150);
}
#line-2 {
  transform: translate(0px, 72px);
}
#line-3 {
  transform: translate(0px, 108px);
}
th {
  width: 288px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  font-family: var(--font-family-2);
  font-size: 16px;
  font-weight: normal;
  color: var(--stone-600);
}
td {
  width: 288px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  font-family: var(--font-family-2);
  font-size: 16px;
  font-weight: bold;
  color: var(--brown-800);
}

@media (min-width: 1024px) {
  body {
    width: 1024px;
    height: 1956px;
  }
}
@media (min-width: 1440px) {
  body {
    width: 1440px;
    height: 1956px;
  }
}
@media (min-width: 768px) {
  body {
    width: 768px;
    height: 2100px;
  }

  .text__content {
    width: 536px;
    height: 1424px;
  }
}

script {
  display: none;
}
